@font-face {
  font-family: Metropolis-Bold;
  src: url('../fonts/Metropolis-Bold.otf');
};
@font-face {
  font-family: Metropolis-Thin;
  src: url('../fonts/Metropolis-Thin.otf');
};
@font-face {
  font-family: Metropolis-Medium;
  src: url('../fonts/Metropolis-Medium.otf');
};
