$font-color: #FFFFFF;
$link-color: #3f3f3f;
$secondary-font-color: #816EB3;
$primary-font-size: 16px;
$dark-red: #b71e37;
$featured-purple: #482F9C;
$purple: #613CE8;
$text-gray: #939196;
$popup-label: #1C112A;
//fonts
$font-regular: Metropolis-Medium, sans-serif;
$font-thin: Metropolis-Thin, sans-serif;
$font-bold: Metropolis-Bold, sans-serif;
$inner-popup-width: 560px;
$responsive-content-width: 330px;
$laptop-width: 980px;
$full-hd:1440px;